startup_commands				toggle_custom_color;toggle_visual_scroll; 
background_color				{background.red} {background.green} {background.blue}
dark_mode_background_color 		{background.red} {background.green} {background.blue}
custom_background_color			{background.red} {background.green} {background.blue}

custom_text_color 				{foreground.red} {foreground.green} {foreground.blue}
text_highlight_color			{color2.red} {color2.green} {color2.blue}
search_highlight_color			{color1.red} {color1.green} {color1.blue}
visual_mark_color  				{color10.red} {color10.green} {color10.blue} 0.13

ui_background_color				{background.red} {background.green} {background.blue}
ui_text_color					{foreground.red} {foreground.green} {foreground.blue}
ui_selected_background_color	{foreground.red} {foreground.green} {foreground.blue}
ui_selected_text_color			{color2.red} {color2.green} {color2.blue}
create_table_of_contents_if_not_exists 	1
ruler_mode								1	
ruler_padding 							2.5
ruler_x_padding 						15
super_fast_search						1


